/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.wrapper-form {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);;
  background-size: cover;
}

#photo-dress {
  width: 275px;
  border-radius: 50%;
}

#footer {
  background-color: $gray-dark;
  padding: 30px;
  a{
  font-size: 30px;
  margin-top: 20px;
  color: #CCCCCC;
  }
  a:hover{
  color: $orange;
  text-decoration: none;
  }
  p{
  color: #CCCCCC;
  }
}

.wrapper-grey {
  background-color: $gray-lighter;
}

.icons {
  width : 75px;
}
