<div id="footer">
  <ul class="list-inline">
    <li><%= link_to  "", "http://www.youtube.com", class: "fa fa-youtube"  %></li>
    <li><%= link_to  "", "http://www.instagram.com", class: "fa fa-instagram"  %></li>
    <li><%= link_to  "", "http://www.facebook.com", class: "fa fa-facebook"  %></li>
    <li><%= link_to  "", "http://www.twitter.com", class: "fa fa-twitter"  %></li>
  </ul>
  <p>© Davi.davi Inc.</p>
</div>

